version: '3'

services:
  app:
    build: .
    depends_on:
      db:
        condition: service_healthy
    networks:
      - internal-network

  db:
    build: db/.
    ports:
      - "33060:3306"
    networks:
      - internal-network

networks:
  internal-network:
    driver: bridge